
**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/

**/node_modules/
**/dist/
**/.angular/cache/
**/.sass-cache/
npm-debug.log*
yarn-error.log*
testem.log
/coverage/


.dockerignore
**/docker-compose.override.yml

.idea/
*.suo
*.user
*.sln.docstates
*.sublime-workspace
.history/

.DS_Store
Thumbs.db